* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
}
@media only screen and (min-width: 1024px) {
    .flipped {
        flex-direction: row-reverse;
    }
}
.content {
    padding: 20px;
    opacity: 0;
    max-height: 0;
    display: none;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content.show {
    display: block;
    opacity: 1;
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.position1 {
    top: 22%;
    width: 70%;
    transform: translate(21%,0);
}
.position2 {
    top: 7%;
    width: 62%;
    transform: translate(18%,0);
    left: 7%;
}
.grid p {
    margin-bottom: 10px;
    cursor: pointer;
}
.header {
    background-image: url('./components/header/homeBg.jpg');
}
.browseHeader {
    background-image: url('/public/images/misc/joker1.jpg');
    background-position: 10% 10%;
    background-size: cover;
}

/* @media (max-width: 415px) {
    .browseHeader {
        /* display: none; */
        /* background-image: none;
    }
} */